[Unit]
Description=${description}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=${serviceUser}
Group=${serviceGroup}

WorkingDirectory=-${installDir}
ExecStart=${executableFile}
ExecReload=${executableFile} --reload
RuntimeDirectory=${packageName}
RuntimeDirectoryMode=0750
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

# To inspect the effective limit, run: systemctl show ${systemdServiceName} -p LimitNOFILE
LimitNOFILE=65535
# Allow the non-root user to bind to privileged ports (e.g., 80, 443)
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
